<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <!-- <script src="Modules/Admin.js"></script> -->
  <script src="Modules/BookManagement.js"></script>
  <link href="bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="Content/main.css" rel="stylesheet" />
</head>
<body>
    <div ng-app="MyApp" ng-controller="MyController">
    
            <button class="tablink" onclick="openPage('Books', this, 'navy')" id="defaultOpen"> Books</button>
            <button class="tablink" onclick="openPage('Authors', this, 'navy')"> Authors</button>
            <button class="tablink" onclick="openPage('Categories', this, 'navy')" >Categories</button>
            <button class="tablink" onclick="openPage('Publishers', this, 'navy')">Publishers</button>

            <div id="Books" class="tabcontent" >
                <div class="col-sm-5" style="margin-left: 150px;margin-top: 10px;">
                  Search <input type="text" class="form-control" ng-model="search" placeholder="Enter text to search" />
                </div>
                <br />
                <br />
                <div class="col-sm-12">
                  <div class="panel-heading">
                    <h2 style="margin-left: 150px;">Book Information</h2>
                  </div>
            
                  <div class="ScrollStyle">
                    <table id="tableBook" class="table table-bordered table-condensed" ng-click="selectBook($event)">
                      <thead>
                        <tr ng-show="books">
                          <th>ID</th>
                          <th>Book Title</th>
                          <th>Category</th>
                          <th>Author</th>
                          <th>Publisher</th>
                          <th>PublishDate</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="book in books | filter : search">
                          <td>{{book.bookId}}</td>
                          <td>{{book.title}}</td>
                          <td>{{book.categoryName}}</td>
                          <td>{{book.authorName}}</td>
                          <td>{{book.publisherName}}</td>
                          <td>{{book.publishDate | date: "yyyy-MM-dd"}}</td>
                          <td><button type="button" id="updateButton" class="btn btn-primary" ng-click="DeleteBooks()"> Delete
                              Book</button></td>
                        </tr>
                      </tbody>
            
                    </table>
                  </div>
            
                  <form name="form2">
                  <div class="panel panel-primary" style="float:right;margin-right:200px">
            
                    <br />
                    
                    <div class="panel-body">
                      <div class="form-group">
                        <label></label>Book ID</label>
                        <input type="text" class="form-control" ng-model="id" id="id" ng-disabled ="true" />
                      </div>
            
                      <label></label>Book Title</label>
                      <input type="text" class="form-control" ng-model="title" id="fname" ng-required = "true"/>
                    </div>
            
                    <div class="form-group">
                      <label>Category</label>
                      <select class="form-control" ng-model="category" id= "category" ng-required = "true">
                        <option>Choose a Category</option>
                    </select>
                    </div>
            
                    <div class="form-group">
                      <label>Author</label>
                      <select class="form-control" ng-model="author" id="author" ng-required = "true">
                        <option>Choose Author</option>
                        </select>
                    </div>
            
                    <div class="form-group">
                      <label>Publisher</label>
                      <select class="form-control" ng-model="publisher" id="publisher" ng-required = "true">
                        <option>Choose Publisher</option>
                        </select>
                    </div>
            
                    <div class="form-group">
                      <label>Publish Date</label>
                      <input type="date" class="form-control" ng-model="publishDate" ng-required = "true"/>
                    </div>
                    <button class="btn btn-primary" type="submit"  ng-click="AddBooks();">Add Book</button>
            
                    <!-- <button type="submit" id="updateButton" class="btn btn-primary" ng-click="AddBooks();" ng-disabled="form2.$invalid"> 
                      Add Book
                    </button>
             -->
                    <button type="button" id="updateButton" class="btn btn-primary" ng-click="UpdateBooks();">
                      Update Book
                    </button>
            
                    <button type="button" id="updateButton" class="btn btn-primary" ng-click="DeleteBooks();">
                      Delete Book
                    </button>
                  </div>
                
            
                </div>
              </form>
              </div>
    
            
             <div id="Authors" class="tabcontent" >
                <div class="col-sm-3" style="margin-left: 390px;margin-top: 10px;">
                    Search <input type="text" class="form-control" ng-model="search" placeholder="Enter text to search" />
                  </div>
                <!-- <div class="col-sm-5" style="float:left;margin-left:280px">Search <input type="text" class="form-control" ng-model="search" placeholder="Enter text to search" /></div> -->
                    <div class="ScrollStyle" style="float:left;margin-left:400px">
                            <table id="tableAuthor" class="table table-bordered table-condensed" ng-click="selectAuthor($event)">
                              <thead>
                                <tr >
                                  <th>ID</th>
                                  <th>Author Name</th>
                                  <th>Date Of Birth</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="author in authors | filter : search">
                                  <td>{{author.authorId}}</td>
                                  <td>{{author.authorName}}</td>
                                  <td>{{author.dateOfBirth | date: "yyyy-MM-dd"}}</td>
                                  <td><button type="button" id="updateButton" class="btn btn-primary" ng-click ="DeleteAuthors()"> Delete
                                      Author</button></td>
                                </tr>
                              </tbody>
                    
                            </table>
                          </div> 

                          <div class="panel panel-primary" style="float:right;margin-right:550px;">

                                <br />
                                <div class="form-group">
                                        <label></label>Author ID</label>
                                        <input type="text" class="form-control" ng-model="authorId" id="authorId" ng-disabled ="true"/>
                                    </div>
                        
                                <div class="panel-body">
                                  <div class="form-group">
                                    <label></label>Author Name</label>
                                    <input type="text" class="form-control" ng-model="authorName" id="authorName" ng-required ="true"/></div>
                                </div>
        
                                <div class="form-group">
                                        <label>Date of Birth</label>
                                        <input type="date" class="form-control" ng-model="birthDate" id ="birthDate" ng-required ="true"/>
                                      </div>
                                      <button class="btn btn-primary" type="submit"  ng-click="AddAuthors();">Add Author</button>
                                      <!-- <button type="button" id="updateButton" class="btn btn-primary" ng-click="AddAuthors();" ng-disabled="isDisabled">
                                            Add Author
                                          </button> -->

                                          <button type="button" id="updateButton" class="btn btn-primary" ng-click="UpdateAuthors();">
                                            Update Author
                                          </button>

                                          <button type="button" id="updateButton" class="btn btn-primary" ng-click="DeleteAuthors();">
                                            Delete Author
                                          </button>
                            </div>
                        </div>
                  
                  <div id="Categories" class="tabcontent">
                      <div class="col-sm-3" style="margin-left: 480px;margin-top: 10px;">
                          Search <input type="text" class="form-control" ng-model="search" placeholder="Enter text to search" />
                        </div>
                      <!-- <div class="col-sm-3" style="float:left;margin-left:280px">Search <input type="text" class="form-control" ng-model="search" placeholder="Enter text to search" /></div> -->
                      <div class="ScrollStyle" style="float:left;margin-left:500px;">
                          <table id="tableCategories" class="table table-bordered table-condensed" ng-click="selectCategories($event)">
                            <thead>
                              <tr >
                                <th>ID</th>
                                <th>Category Name</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="category in categories | filter : search">
                                <td>{{category.categoryId}}</td>
                                <td>{{category.categoryName}}</td>
                                <td><button type="button" id="updateButton" class="btn btn-primary" ng-click ="DeleteCategories()"> Delete
                                    Category</button></td>
                              </tr>
                            </tbody>
                  
                          </table>
                        </div> 

                        <div class="panel panel-primary" style="float:right;margin-right:550px;">

                              <br />
                              <div class="form-group">
                                      <label></label>Category ID</label>
                                      <input type="text" class="form-control" ng-model="categoryId" id="categoryId" ng-disabled ="true"/>
                                  </div>
                      
                              <div class="panel-body">
                                <div class="form-group">
                                  <label></label>Category Name</label>
                                  <input type="text" class="form-control" ng-model="categoryName" id="categoryName" ng-required ="true"/></div>
                              </div>
      
                                    <button type="button" id="updateButton" class="btn btn-primary" ng-click="AddCategories()" ng-disabled="isDisabled">
                                          Add Category
                                        </button>

                                        <button type="button" id="updateButton" class="btn btn-primary" ng-click="UpdateCategories()">
                                          Update Category
                                        </button>

                                        <button type="button" id="updateButton" class="btn btn-primary" ng-click="DeleteCategories()">
                                          Delete Category
                                        </button>
                          </div>
                      </div>
                  
                  
                  <div id="Publishers" class="tabcontent">
                      <div class="col-sm-3" style="margin-left: 480px;margin-top: 10px;">
                          Search <input type="text" class="form-control" ng-model="search" placeholder="Enter text to search" />
                        </div>
                     <!-- <div class="col-sm-3" style="float:left;margin-left:280px">Search <input type="text" class="form-control" ng-model="search" placeholder="Enter text to search" /></div> -->
                     <div class="ScrollStyle" style="float:left;margin-left:500px;">
                        <table id="tablePublishers" class="table table-bordered table-condensed" ng-click="selectPublishers($event)">
                          <thead>
                            <tr >
                              <th>ID</th>
                              <th>Publisher Name</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="publisher in publishers | filter : search">
                              <td>{{publisher.publisherId}}</td>
                              <td>{{publisher.publisherName}}</td>
                              <td><button type="button" id="updateButton" class="btn btn-primary" ng-click ="DeletePublishers()"> Delete
                                  Publisher</button></td>
                            </tr>
                          </tbody>
                
                        </table>
                      </div> 

                      <div class="panel panel-primary" style="float:right;margin-right:400px;">

                            <br />
                            <div class="form-group">
                                    <label></label>Publisher ID</label>
                                    <input type="text" class="form-control" ng-model="publisherId" id="publisherId" ng-disabled ="true"/>
                                </div>
                    
                            <div class="panel-body">
                              <div class="form-group">
                                <label></label>Publisher Name</label>
                                <input type="text" class="form-control" ng-model="publisherName" id="publisherName" ng-required ="true"/></div>
                            </div>
    
                                  <button type="button" id="updateButton" class="btn btn-primary" ng-click="AddPublishers()">
                                        Add Publisher
                                      </button>

                                      <button type="button" id="updateButton" class="btn btn-primary" ng-click="UpdatePublishers()">
                                        Update Publisher
                                      </button>

                                      <button type="button" id="updateButton" class="btn btn-primary" ng-click="DeletePublishers()">
                                        Delete Publisher
                                      </button>
                        </div>
                  </div>
    </div>
    <script>
            function openPage(pageName,elmnt,color) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablink");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
              }
              document.getElementById(pageName).style.display = "block";
              elmnt.style.backgroundColor = color;
            }
            
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
            </script>

</body>
</html>