<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="Content/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
		<!-- <link href="Content/main.css" rel="stylesheet" /> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css">
  

	<!-- <link href="bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" /> -->
		 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="Modules/User.js"></script>
	</head>
	<body ng-app="MyUserApp" ng-controller="MyUserController">
            <div ng-repeat = "category in categories">
			<button class="tablink" ng-click="selectCategory(category)" id="defaultOpen"> {{category.categoryName}}</button>
            <!-- <button class="tablink" onclick="openPage('Cartoons', this, 'navy')"> Cartoons</button>
            <button class="tablink" onclick="openPage('Education', this, 'navy')" >Education</button>
			<button class="tablink" onclick="openPage('Comedy', this, 'navy')">Comedy</button>
			<button class="tablink" onclick="openPage('History', this, 'navy')">History</button>
			<button class="tablink" onclick="openPage('Nature', this, 'navy')">Nature</button> -->
		</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
 <!-- <div ng-repeat="book in selectedCategoryProjects">
 {{book.title}}
 </div> -->

 <div id= "Health And Fitness" class="container" style ="border: 30px dotted blue; border-top: none;" ng-show = "selectedCategoryProjects"> 
		<div class="main">
				<ul id="bk-list" class="bk-list clearfix">
						<div>
								<table>
										<tbody >
										  <tr ng-repeat="book in selectedCategoryProjects | filter : search" class="service-list">
											<td>
												  <li>
														  <div class="bk-book book-1 bk-bookdefault" >
															  <div class="bk-front" id="ElementId" >
																  <div class="bk-cover-back"></div>
																  <div class="bk-cover" >
																	  <h2>
																		  <span>{{book.authorName}}</span>
																		  <span>{{book.title}}</span>
																	  </h2>
																  </div>
															  </div>
															  <div class="bk-page" >
																  <div class="bk-content bk-content-current">
																	  <p>Red snapper Kafue pike fangtooth humums slipmouth, salmon cutlassfish; swallower European perch mola mola sunfish, threadfin bream. Billfish hog sucker trout-perch lenok orbicular velvetfish. Delta smelt striped bass, medusafish dragon goby starry flounder cuchia round whitefish northern anchovy spadefish merluccid hake cat shark Black pickerel. Pacific cod.</p>
																  </div>
																  <div class="bk-content">
																	  <p>Whale catfish leatherjacket deep sea anglerfish grenadier sawfish pompano dolphinfish carp large-eye bream, squeaker amago. Sandroller; rough scad, tiger shovelnose catfish snubnose parasitic eel? Black bass soldierfish duckbill--Rattail Atlantic saury Blind shark California halibut; false trevally warty angler!</p>
																  </div>
																  <div class="bk-content">
																	  <p>Trahira giant wels cutlassfish snapper koi blackchin mummichog mustard eel rock bass whiff murray cod. Bigmouth buffalo ling cod giant wels, sauger pink salmon. Clingfish luderick treefish flatfish Cherubfish oldwife Indian mul gizzard shad hagfish zebra danio. Butterfly ray lizardfish ponyfish muskellunge Long-finned sand diver mullet swordfish limia ghost carp filefish.</p>
																  </div>
															  </div>
															  <div class="bk-back">
																  <p>In this nightmare vision of cats in revolt, fifteen-year-old Alex and his friends set out on a diabolical orgy of robbery, rape, torture and murder. Alex is jailed for his teenage delinquency and the State tries to reform him - but at what cost?</p>
															  </div>
															  <div class="bk-right"></div>
															  <div class="bk-left">
																  <h2>
																	  <span>{{book.authorName}}</span>
																	  <span>{{book.title}}</span>
																  </h2>
															  </div>
															  <div class="bk-top"></div>
															  <div class="bk-bottom"></div>
														  </div>
														  <div class="bk-info">
															  <!-- <button class="bk-bookback">Flip</button> -->
															  <button class="btn btn-primary">Borrow Book</button>
															  <!-- <h3>
																  <span>{{book.authorName}}</span>
																  <span>{{book.title}}</span>
															  </h3> -->
														  </div>
													  </li>
											</td>
											<!-- <td>{{book.title}}</td> -->
											<!-- <td>{{book.categoryName}}</td> -->
										  </tr>
										</tbody>
							  
									  </table>
						</div>

						
				</ul>
			
		</div>

 </div>

			</div>
		</div><!-- /container -->
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
		<script src="js/books1.js"></script>
		<script>
			$(function() {

				Books.init();

			});
		</script>

		 <script>
				// function openPage(pageName,elmnt,color) {
				//   var i, tabcontent, tablinks;
				//   tabcontent = document.getElementsByClassName("tabcontent");
				//   for (i = 0; i < tabcontent.length; i++) {
				// 	tabcontent[i].style.display = "none";
				//   }
				//   tablinks = document.getElementsByClassName("tablink");
				//   for (i = 0; i < tablinks.length; i++) {
				// 	tablinks[i].style.backgroundColor = "";
				//   }
				//   document.getElementById(pageName).style.display = "block";
				//   elmnt.style.backgroundColor = color;
				// }
				
				// // Get the element with id="defaultOpen" and click on it
				// document.getElementById("defaultOpen").click();
				
				// // var idName = document.getElementById(pageName);

				// // if(idName === )

				</script>
	</body>
</html>
