/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

@font-face {
	font-family: 'the_godfatherregular';
	src: url('../fonts/thegodfather-v2-webfont.eot');
	src: url('../fonts/thegodfather-v2-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/thegodfather-v2-webfont.woff') format('woff'),
		url('../fonts/thegodfather-v2-webfont.ttf') format('truetype'),
		url('../fonts/thegodfather-v2-webfont.svg#the_godfatherregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    /* font-family: 'Lato', Calibri, Arial, sans-serif; */
	background: url(images/heaven\ book.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* font-weight: 400;
    font-size: 15px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden; */
}

.demo-2 body {
	background: url(../images/wood.jpg);
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.main,
.container > header {
	width: 90%;
	max-width: 1060px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
}

.container > header {
	padding: 30px 30px 40px 30px;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	float: right;
}

.codrops-demos a {
    display: inline-block;
    margin: 10px;
    color: #666;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}

.codrops-demos a:hover {
	color: #000;
	border-color: #000;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}

.support-note {
	color:blue;
	font-size: 16px;
	display: block;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
	text-align: left;
	clear: both;
}

.bookshelf {
	width: 100%;
	height: 63px;
	z-index: -1;
	margin-top: -25px;
	background: transparent url(../images/shelf.jpg) no-repeat center center;
	position: relative;
}